{% extends 'base.html' %}

{% block content %}
<h2>Add New Book</h2>

<form method="post" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label class="form-label">Book Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" name="author" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" step="0.01" name="price" class="form-control" required>
    </div>

    <button class="btn btn-primary">Add Book</button>
</form>
{% endblock %}